@font-face {
    font-family: 'Bolupisang';
    src: url('Bolupisang.woff2') format('woff2'),
        url('Bolupisang.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bolupisang';
    src: url('Bolupisang.woff2') format('woff2'),
        url('Bolupisang.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

